# Configuration for home-assistant setup

# Name of the big-bear-home-assistant application
# Service definitions for the big-bear-home-assistant application
services:
  # Service name: app
  # The `app` service definition
  app:
    # Name of the container
    container_name: big-bear-home-assistant
    # Image to be used for the container
    image: ghcr.io/home-assistant/home-assistant:2026.2.1
    # Container restart policy
    restart: unless-stopped
    # Volumes to be mounted to the container
    volumes:
      # Mounting the local home-assistant_config directory to /config inside the container
      - big-bear-home-assistant_config:/config
      # Mounting the local /etc/localtime to /etc/localtime inside the container
      - /etc/localtime:/etc/localtime:ro
      # Mounting the local /run/dbus to /run/dbus inside the container
      - /run/dbus:/run/dbus:ro
    # Network mode for the container
    network_mode: host
volumes:
  big-bear-home-assistant_config:
    name: big-bear-home-assistant_config
    driver: local
